@model D_A.Application.DTOs.AuctionsDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AuctionsDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjectName)
        </dd>
        <dt class="col-12 col-md-4 text-muted"> @Html.DisplayNameFor(Model => Model.Categories)</dt>
        <dd class="col-12 col-md-8">

            @if (Model.Categories != null && Model.Categories.Any())
            {
                if (Model.Categories.Count == 1)
                {
                    <span class="badge text-bg-light border">
                        Categoría: @Model.Categories[0].Name
                    </span>
                }
                else
                {
                    <div class="d-flex flex-wrap gap-2">
                        @foreach (var c in Model.Categories)
                        {
                            <span class="badge text-bg-light border">
                                <i class="bi bi-tag me-1"></i>@c.Name
                            </span>
                        }
                    </div>
                }
            }
            else
            {
                <span class="text-muted">Sin categorías asociadas.</span>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncrementoMinimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncrementoMinimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idstate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idstate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idusercreator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idusercreator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idobject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idobject)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
